#todoView .content, #todoEdit .content {
    margin: 15px;
}

.item {
    margin: 5px 0;
}

.item * {
    line-height: 2em;
}

.topcoat-button--cta {
    line-height: 2em;
    margin: .5em 0;
}

.topcoat-textarea {
    line-height: 1em;
    font-size: 1em;
    padding: .5em;
    height: 15em;
}

.deleteButton {
    position: absolute;
    right: 41px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    background: #A00;
    color: #FFF;
    text-shadow: none;
    box-shadow: none;
    top: 19px;
}

.deleteButton:hover {
    background: #933;
}

#about {
    color: #fff;
}